<h1>Entro a mi formulario</h1>
<form action="/places/new" method="post">
<input type="text" name="name" placeholder="name">
<input type="text" name="latitude" placeholder="latitude">
<input type="text" name="longitude" placeholder="longitude">
<button type="submit">Pulsa aqui</button>
</form>